/* variables */
:root {
    font: 400 16px 'Poppins';
    scroll-behavior: smooth;
    --main-width: 1170px;
    --deep-blue: #3A4574;
    --light-grey: #E7E7E7;
    --beige: #D3B47F;
    --grey: #808080;
    --red: #FF3F40;
}

/* base container for all page content */
.page {
    display: flex;
    min-width: 333px;
    align-items: center;
    flex-direction: column;
}

.page__container {
    width: 100%;
    max-width: var(--main-width);
}

/* header */
.page__container_image {
    min-width: 100%;
    min-height: 762px;
    padding-top: 29px;
    background-color: var(--light-grey);
    background-image: url("../img/jpg/main-img.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 110px;
    margin-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--main-width);
    min-height: 110px;
    margin: 0 auto 100px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.header__menu {
    flex-wrap: wrap;
    gap: 41px;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    min-height: 89px;
}

.menu__link {
    display: flex;
    align-items: center;
    font: 400 16px 'Poppins';
    color: #FFF;
    text-decoration: none;
}

.menu__link:hover {
    color: var(--red);
    font-weight: 500;
}

.menu__link_active {
    color: var(--red);
    font-weight: 500;
}

.header__telephone {
    display: flex;
    align-items: center;
}

.header__telephone-icon {
    margin-right: 10px;
}

.header__telephone-number {
    text-decoration: none;
    color: #FFF;
}

.header__telephone-number:hover {
    color: var(--red);
    font-weight: 500;
}

/* intro section */
.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: var(--main-width);
    margin: 0 auto;
    color: #FFF;
}

.intro__suptitle {
    text-transform: uppercase;
    font: 500 24px 'Poppins';
    letter-spacing: .06em;;
}

.intro__title {
    font: 700 64px 'Poppins';
    line-height: 88px;
    margin-top: 0;
    margin-bottom: 38px;
}

.intro__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.action-button {
    font: 500 18px 'Poppins';
    line-height: 24px;
    text-decoration: none;
    box-sizing: content-box;
    border: none;
    color: #FFF;
    background-color: var(--deep-blue);
    padding: 38px 65px;
    cursor: pointer;
}

.socials-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 7px;
    margin-right: 16px;
}

.social-link {
    font: 600 16px 'Poppins';
    line-height: 24px;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}

.social-link::before {
    position: relative;
    left: 50%;
    content: '';
    border: #FFF 1px solid;
    border-radius: 30px;
    padding: 11px 23px;
    box-sizing: border-box;
}

/* schedule section */
.schedule {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: var(--main-width);
    margin: 0 auto 158px auto;
}

.schedule__list {
    margin: 0;
    padding: unset;
    list-style: none;
}

.schedule__item {
    position: relative;
    margin-bottom: 40px;
}

.schedule__item::after {
    position: absolute;
    top: 93px;
    width: 469px;
    content: '';
    border: 1px solid var(--light-grey);
    margin: 0;
}

.schedule__day {
    margin: 0 0 10px 0;
    font: 600 24px 'Poppins';
    line-height: 32px;
}

.schedule__dishes {
    font: 400 18px 'Poppins';
    line-height: 32px;
    display: flex;
    gap: 62px;
}

.schedule__dish {
    margin: 0;
}

.schedule__dish_first {
    position: relative;
}

.schedule__dish_first::after {
    position: absolute;
    bottom: 42%;
    content: '...';
    margin-left: 10px;
    font-size: 40px;
    color: var(--beige);
    letter-spacing: 9px;
}

.schedule__central-rectangle {
    position: absolute;
    right: 100px;
    top: 49px;
    width: 471px;
    height: 502px;
    border: 2px solid var(--beige);
}

.schedule__central-rectangle::before {
    position: absolute;
    right: 245px;
    top: 101px;
    content: url("../img/jpg/schedule-first-img.jpg");
}

.schedule__central-rectangle::after {
    position: absolute;
    left: 248px;
    bottom: 60px;
    content: url("../img/jpg/schedule-second-img.jpg");
}

/* reviews section */
.reviews {
    min-width: 100%;
    background-color: var(--deep-blue);
    margin-bottom: 109px;
    padding: 260px 0 166px;
}

.swiper-container {
    overflow: hidden;
}

.swiper-wrapper {
    max-width: 100%;
    margin-bottom: 30px;
}

.reviews__item {
    margin: auto;
    max-width: 800px;
}

.reviews__container {
    position: relative;
    max-width: var(--main-width);
    margin: 0 auto;
}

.arrow {
    background-image: url("../img/png/arrow.png");
    background-color: unset;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    border: none;
    cursor: pointer;
    font-size: 12px;
}

.arrow::after {
    display: none;
}

.arrow_right {
    transform: rotate(180deg);
}

.quote {
    font: 600 180px 'sans-serif';
    line-height: 40px;
    color: var(--beige);
    margin: 0 0 12px;
    text-align: center;
}

.review-title {
    margin: 0 0 20px;
    font: 600 36px 'Poppins';
    line-height: 40px;
    color: var(--beige);
    text-align: center;
}

.review-text {
    max-width: 785px;
    font: 400 16px 'Poppins';
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 30px;
}

.review-author {
    font: 600 24px 'Poppins';
    line-height: 40px;
    letter-spacing: 0.245em;
    text-transform: uppercase;
    text-align: center;
    color: var(--beige);
}

/* service section */
.service {
    margin-bottom: 50px;
}

.service__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.service__title {
    position: relative;
    margin: 0 0 21px;
    font: 700 40px 'Poppins';
    line-height: 88px;
    text-transform: uppercase;
}

.service__title::after {
    position: absolute;
    top: 91px;
    left: -55px;
    width: 108px;
    content: '';
    border: 1px solid var(--beige);
}

.service__description {
    margin-top: 17px;
}

.service__text {
    width: 100%;
    max-width: 470px;
    color: var(--grey);
    font: 400 16px 'Poppins';
    line-height: 32px;
}

.service__image {
    width: 670px;
    height: 560px;
    object-fit: cover;
}

/* photos section */
.photos {
    min-width: 100%;
    background-color: var(--deep-blue);
    margin-bottom: 413px;
    padding: 70px 0 391px;
}

.photos__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: var(--main-width);
    margin: 0 auto;
}

.photos__description {
    width: 500px;
    color: #FFFFFF;
}

.photos__title {
    margin: 0;
    font: 700 48px 'Poppins';
    line-height: 80px;
}

.photos__text {
    margin: 0;
    font: 400 16px 'Poppins';
    line-height: 32px;
}

.photos__arrows {
    display: flex;
    gap: 31px;
}

/* contacts section */
.contacts {
    margin-bottom: 30px;
}

.contacts__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 96px;
    margin-bottom: 37px;
}

.contacts__info {
    display: flex;
    flex-direction: column;
}

.contacts__title {
    margin: 0 0 42px;
    font: 700 48px 'Poppins';
}

.contacts__item {
    display: flex;
    align-items: end;
    gap: 15px;
    margin-bottom: 45px;
}

.item__icon {
    width: 24px;
    height: 24px;
    background-color: var(--beige);
    border: 20px solid var(--beige);
    border-radius: 32px;
}

.item__title {
    margin: 0;
    color: #2E2E2E;
    font: 400 16px 'Poppins';
}

.item-value {
    margin: 0;
    font: 500 24px 'Poppins';
    text-decoration: none;
    color: #000000;
}

.contacts__right {
    width: 670px;
}

.contacts__form {
    display: grid;
    grid-template: 130px 172px 100px / 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

.input {
    height: 75px;
    font: 400 16px 'Poppins';
    line-height: 24px;
    padding: 0 15px;
}

.name-input, .email-input {
    height: 75px;
}

.input_big {
    height: 93px;
    padding-top: 33px;
    resize: none;
}

.form__request {
    grid-area: 2 / 1 / 3 / 3;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button_form {
    font: 500 24px 'Poppins';
    line-height: 24px;
    max-width: 43%;
}

.contacts__map {
    width: 100%;
    height: 548px;
    border: 0;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.social-link_black {
    color: #000000;
}

.social-link_black::before {
    border-color: #000000;
}
