/* variables */
:root {
    font: 400 16px 'Poppins';
    scroll-behavior: smooth;
    --main-width: 1170px;
    --deep-blue: #3A4574;
    --light-grey: #E7E7E7;
    --beige: #D3B47F;
    --grey: #808080;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* base container for all page content */
.page {
    display: flex;
    min-width: 333px;
    align-items: center;
    flex-direction: column;
}

.page__container {
    width: 100%;
    max-width: var(--main-width);
}

/* header */
.page__container_image {
    min-width: 100%;
    height: 100%;
    min-height: 906px;
    padding-top: 29px;
    background-image: url("../img/jpg/main-img.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    padding-bottom: 110px;
    margin-bottom: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: var(--main-width);
    min-height: 110px;
    margin: 0 auto 100px;
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.header__menu {
    flex-wrap: wrap;
    gap: 41px;
    margin: 0;
    padding: 0;
}

.menu__item {
    display: flex;
    min-height: 89px;
}

.menu__link {
    display: flex;
    align-items: center;
    font: 400 16px 'Poppins';
    color: #FFF;
    text-decoration: none;
}

.menu__link:hover {
    color: var(--beige);
    font-weight: 500;
}

.menu__link_active {
    color: var(--beige);
    font-weight: 500;
}

.header__telephone {
    display: flex;
    align-items: center;
}

.header__telephone-icon {
    margin-right: 10px;
}

.header__telephone-number {
    text-decoration: none;
    color: #FFF;
}

.header__telephone-number:hover {
    color: var(--beige);
    font-weight: 500;
}

/* popup menu */
.popup-menu__button {
    position: relative;
    display: none;
    min-width: 250px;
    height: 70px;
    background-color: #FFF;
    border-radius: 20px;
    cursor: pointer;
}

.popup-menu__list {
    position: absolute;
    bottom: 821px;
    transform: translateY(100%);
    display: flex;
    flex-direction: column;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    transition: visibility, transform 1s, 0.5s ease-in-out;
}

@media (min-width: 881px) {
    .popup-menu__list {
        visibility: hidden;
    }
}

.hide-popup {
    transform: translateY(-50px);
    visibility: hidden;
}

.popup-menu__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70px;
}

.popup-menu__item:hover {
    background-color: var(--beige);
}

.popup-menu__link {
    display: flex;
    align-items: center;
    padding: 0 70px;
    color: #e0e0e0;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}

.popup-menu__telephone-icon {
    margin-right: 10px;
    filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(330deg) brightness(113%) contrast(100%);
}

.popup-menu__telephone-number {
    text-decoration: none;
    color: #FFF;
}

@media (max-width: 880px) {
    .popup-menu__button {
        display: block;
    }

    .menu {
        border: 0;
        clip: rect(0 0 0 0);
        position: absolute;
    }

    .page__container_image {
        padding-top: 0;
    }

    .header {
        background-color: rgba(0, 0, 0, 0.8);
        justify-content: center;
    }

    .header__logo-image {
        display: none;
    }

    .header__telephone {
        display: none;
    }

    .header__menu {
        display: none;
    }
}

@media (max-width: 420px) {
    .header {
        margin-bottom: 50px;
    }
}

/* intro section */
.intro {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: var(--main-width);
    margin: 0 auto;
    color: #FFF;
}

.intro__suptitle {
    text-transform: uppercase;
    font: 500 24px 'Poppins';
    letter-spacing: .06em;
}

.intro__title {
    font: 700 64px 'Poppins';
    line-height: 88px;
    margin-top: 0;
    margin-bottom: 38px;
}

.intro__bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.action-button {
    font: 500 18px 'Poppins';
    line-height: 24px;
    text-decoration: none;
    box-sizing: content-box;
    border: none;
    color: #FFF;
    background-color: var(--deep-blue);
    padding: 38px 65px;
    cursor: pointer;
}

.socials-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    gap: 44px;
    margin-right: 0px;
}

.social-link {
    width: 30px;
    font: 600 16px 'Poppins';
    line-height: 24px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
    cursor: pointer;
}

.social-link::after {
    position: relative;
    right: 111%;
    content: '';
    border: #FFF 1px solid;
    border-radius: 30px;
    padding: 11px 23px;
    box-sizing: border-box;
}

@media (max-width: 1260px) {
    .intro__bottom {
        width: 85%;
        margin: auto;
    }
}

@media (max-width: 880px) {
    .intro {
        align-items: center;
    }

    .intro__title {
        text-align: center;
    }
}

@media (max-width: 650px) {
    .intro__bottom {
        justify-content: space-around;
        gap: 60px;
    }

    .intro__title {
        font-size: 40px;
    }

    .socials-menu {
        margin: 0;
    }
}

/* schedule section */
.schedule {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-width: var(--main-width);
    margin: 0 auto 158px auto;
}

.schedule__list {
    margin: 0;
    padding: unset;
    list-style: none;
}

.schedule__item {
    position: relative;
    margin-bottom: 40px;
}

.schedule__item::after {
    position: absolute;
    top: 93px;
    width: 469px;
    content: '';
    border: 1px solid var(--light-grey);
    margin: 0;
}

.schedule__day {
    margin: 0 0 10px 0;
    font: 600 24px 'Poppins';
    line-height: 32px;
}

.schedule__dishes {
    font: 400 18px 'Poppins';
    line-height: 32px;
    display: flex;
    gap: 62px;
}

.schedule__dish {
    margin: 0;
}

.schedule__dish_first {
    position: relative;
}

.schedule__dish_first::after {
    position: absolute;
    bottom: 42%;
    content: '...';
    margin-left: 10px;
    font-size: 40px;
    color: var(--beige);
    letter-spacing: 9px;
}

.schedule__central-rectangle {
    position: relative;
    margin: 45px 0 0 134px;
    width: 471px;
    height: 502px;
    border: 2px solid var(--beige);
}

.schedule__first-image {
    position: absolute;
    right: 245px;
    top: 101px;
    content: url("../img/jpg/schedule-first-img.jpg");
}

.schedule__second-image {
    position: absolute;
    left: 248px;
    bottom: 60px;
    content: url("../img/jpg/schedule-second-img.jpg");
}

@media (max-width: 1200px) {
    .schedule {
        flex-direction: column;
        align-items: center;
    }

    .schedule__central-rectangle {
        margin: 100px 0 0 0;
    }
}

@media (max-width: 705px) {
    .schedule {
        margin-bottom: 350px;
    }

    .schedule__central-rectangle {
        width: 200px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-top: 300px;
    }

    .schedule__first-image {
        position: relative;
        right: 0;
        top: 0;
        max-width: 323px;
        height: auto;
    }

    .schedule__second-image {
        position: relative;
        left: 0;
        bottom: 0;
        max-width: 323px;
        height: auto;
    }
}

@media (max-width: 705px) {
    .schedule__item::after {
        right: 25%;
        width: 200px;
        margin: auto;
    }
}

/* reviews section */
.reviews {
    min-width: 100%;
    background-color: var(--deep-blue);
    margin-bottom: 109px;
    padding: 260px 0 166px;
}

.swiper-container_reviews {
    overflow: hidden;
}

.swiper-wrapper {
    max-width: 100%;
    margin-bottom: 30px;
}

.reviews__item {
    margin: auto;
    max-width: 800px;
}

.reviews__container {
    position: relative;
    max-width: var(--main-width);
    margin: 0 auto;
}

.arrow {
    background-image: url("../img/png/arrow.png");
    background-color: unset;
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: 70px 70px;
    border: none;
    cursor: pointer;
}

.arrow:hover {
    filter: invert(25%) sepia(22%) saturate(556%) hue-rotate(359deg) brightness(94%) contrast(89%);
}

.arrow::after {
    display: none;
}

.arrow_right {
    transform: rotate(180deg);
}

.quote {
    font: 600 180px 'sans-serif';
    line-height: 40px;
    color: var(--beige);
    margin: 0 0 12px;
    text-align: center;
}

.review-title {
    margin: 0 0 20px;
    font: 600 36px 'Poppins';
    line-height: 40px;
    color: var(--beige);
    text-align: center;
}

.review-text {
    max-width: 785px;
    font: 400 16px 'Poppins';
    line-height: 40px;
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto 30px;
}

.review-author {
    font: 600 24px 'Poppins';
    line-height: 40px;
    letter-spacing: 0.245em;
    text-transform: uppercase;
    text-align: center;
    color: var(--beige);
}

.swiper-pagination-bullet {
    background-color: var(--grey);
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 0 15px;
}

.swiper-pagination-bullet-active {
    background-color: var(--beige);
}

@media (max-width: 700px) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}

/* service section */
.service {
    margin-bottom: 50px;
}

.service__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.service__title {
    position: relative;
    margin: 0 0 21px;
    font: 700 40px 'Poppins';
    line-height: 88px;
    text-transform: uppercase;
}

.service__title::after {
    position: absolute;
    top: 91px;
    left: -55px;
    width: 108px;
    content: '';
    border: 1px solid var(--beige);
}

.service__description {
    margin-top: 17px;
    max-width: 400px;
}

.service__text {
    width: 100%;
    max-width: 470px;
    color: var(--grey);
    font: 400 16px 'Poppins';
    line-height: 32px;
}

.service__image {
    width: 670px;
    height: 560px;
    object-fit: cover;
}

@media (max-width: 1086px) {
    .service__item {
        justify-content: space-around;
    }

    .service__description {
        text-align: center;
    }

    .service__title::after {
        left: 37%
    }

    .service__image {
        order: 1;
    }
}

@media (max-width: 700px) {
    .service__image {
        max-width: 100%;
        height: auto;
    }
}

/* photos section */
.photos {
    min-width: 100%;
    height: 605px;
    background-color: var(--deep-blue);
    margin-bottom: 410px;
    padding: 70px 0 0;
}

.photos__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: var(--main-width);
    margin: 0 auto 48px;
}

.photos__description {
    max-width: 500px;
    color: #FFFFFF;
}

.photos__title {
    margin: 0;
    font: 700 48px 'Poppins';
    line-height: 80px;
}

.photos__text {
    margin: 0;
    font: 400 16px 'Poppins';
    line-height: 32px;
}

.photos__arrows {
    display: flex;
    gap: 31px;
}

.photos__arrows .arrow {
    position: static;
}

.photos__slider {
    overflow: hidden;
}

.photos__item {
    width: 970px;
    height: 646px;
    object-fit: cover;
}

.swiper-slide_photo {
    margin: 0 50px;
}

@media (max-width: 1190px) {
    .photos__header {
        justify-content: space-around;
        gap: 30px;
    }
}

/* contacts section */
.contacts {
    margin-bottom: 30px;
}

.contacts__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 96px;
    margin-bottom: 37px;
}

.contacts__info {
    display: flex;
    flex-direction: column;
}

.contacts__title {
    margin: 0 0 42px;
    font: 700 48px 'Poppins';
}

.contacts__item {
    display: flex;
    align-items: end;
    gap: 15px;
    margin-bottom: 45px;
}

.item__icon {
    box-sizing: unset;
    width: 24px;
    height: 24px;
    background-color: var(--beige);
    border: 20px solid var(--beige);
    border-radius: 32px;
}

.item__title {
    margin: 0;
    color: #2E2E2E;
    font: 400 16px 'Poppins';
}

.item-value {
    margin: 0;
    font: 500 24px 'Poppins';
    text-decoration: none;
    color: #000000;
}

.contacts__right {
    width: 670px;
}

.contacts__form {
    display: grid;
    grid-template: 130px 172px 100px / 1fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 20px;
}

.input {
    height: 75px;
    font: 400 16px 'Poppins';
    line-height: 24px;
    padding: 0 15px;
}

.name-input, .email-input {
    height: 75px;
}

.input_big {
    height: 93px;
    padding-top: 33px;
    resize: none;
}

.form__request {
    grid-area: 2 / 1 / 3 / 3;
}

.form label {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.action-button_form {
    font: 500 24px 'Poppins';
    line-height: 24px;
    max-width: 43%;
}

.contacts__map {
    width: 100%;
    height: 548px;
    border: 0;
}

@media (max-width: 1185px) {
    .contacts__container {
        justify-content: space-around;
    }
}

@media (max-width: 720px) {
    .contacts__title {
        text-align: center;
    }

    .contacts__form {
        display: flex;
        flex-direction: column;
    }

    .input_big {
        height: 200px;
    }

    .action-button_form {
        width: 30%;
        margin: auto;
    }
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 30px;
}

.social-link_black {
    color: #000000;
}

.social-link_black::after {
    border-color: #000000;
}

@media (max-width: 1258px) {
    .footer {
        justify-content: space-around;
    }
}

@media (max-width: 700px) {
    .footer {
        flex-direction: column;
        gap: 30px;
    }
}
